<div class="card card-display">
	<div id="img<%= id %>" class="carousel slide carousel-images" style="position: relative;" data-ride="carousel">
		<img class="d-block w-100" src="<%= base_url %>" alt="First image">
    <img class="d-block w-100 classified-image" src="<%= classified_url %>" alt="Second image" id="classifiedImage<%= id %>">
	</div>
	<div class="card-body">
		<h5 class="card-title"><%= locationName %></h5>
		<p class="card-text">Acquisition Date: <%= date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() %></p>
		<div class="slidecontainer">
			<p style="display: inline-block;">Opacity:</p>
			<input id="slider<%= id %>" type="range" min="0" max="100" value="100" style="margin-left: 1rem;position: relative;top: 5px;" onchange="changeOpacity('<%= id %>')">
		</div>
		<a href="#" onclick="downloads('<%= id %>')" class="btn btn-primary">
			<i class="fa fa-download" aria-hidden="true"></i><span> </span>Download
		</a>
		<i class="fa fa-paw foot-print" aria-hidden="true" onclick="viewTile('<%= id %>')"></i>
		<i class="fa fa-image foot-print" aria-hidden="true" onclick="overlayImage('<%= id %>')"></i>
	</div>
</div>