<!-- Warning: Render id different for each carousel for ex: img + '<unique no>' -->

<div class="card card-display">
	<div id="img<%= id %>" class="carousel slide carousel-images" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="<%= sar_url %>" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="<%= classified_url %>" alt="Second slide">
			</div>
		</div>
		<a class="carousel-control-prev" href="#img<%= id %>" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#img<%= id %>" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div class="card-body">
		<h5 class="card-title"><%= locationName %></h5>
		<p class="card-text">Acquisition Date: <%= date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() %></p>
		<a href="#" onclick="viewTile('<%= id %>')" class="btn btn-primary">
			<i class="fa fa-download" aria-hidden="true"></i><span> </span>Download
		</a>
	</div>
</div>