<div class="card card-display month-card">
	<div id="imgmonth<%= id %>" class="carousel slide carousel-images" data-ride="carousel">
		<img class="d-block w-100" src="<%= base_url %>" alt="First image">
    <img class="d-block w-100 classified-image" src="<%= classified_url %>" alt="Second image" id="classifiedImage<%= id %>">
	</div>
	<div class="card-body">
		<h5 class="card-title"><%= locationName %></h5>
		<p class="card-text">Mosaic Period: <%= period %></p>
		<a href="#" onclick="downloadLinks()" class="btn btn-primary">
			<i class="fa fa-download" aria-hidden="true"></i><span> </span>Download
		</a>
	</div>
</div>